<!DOCTYPE html>
<html lang="en" class="color-reg">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>PyChat index.ejs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta property="og:title" content="Open Source Chat"/>
  <meta property="og:image" content="favicon.ico"/>
  <meta property="og:site_name" content="Pychat"/>
  <meta property="og:description" content="Chat with your friends, make video calls or transfer files with Pychat!"/>
  <meta name="theme-color" content="#232323" />
  <meta name="msapplication-navbutton-color" content="#232323">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
  <meta name="description" content="Self-hosted open source video chat based on webrtc and websockets https://github.com/akoidan/pychat">
    <% if (htmlWebpackPlugin.options.manifest ) { %>
        <link
                rel="manifest"
                crossorigin="<%= webpackConfig.output.crossOriginLoading %>"
                href="<%= htmlWebpackPlugin.options.manifest %>"
        />
    <% } %>
    <% if (htmlWebpackPlugin.options.IS_ANDROID ) { %>
        <script src="cordova.js"></script>
    <% } %>
    <% for (var index in htmlWebpackPlugin.files.js) { %>
        <% if (htmlWebpackPlugin.files.jsIntegrity) { %>
            <script
                    async
                    src="<%= htmlWebpackPlugin.files.js[index] %>"
                    integrity="<%= htmlWebpackPlugin.files.jsIntegrity[index] %>"
                    crossorigin="<%= webpackConfig.output.crossOriginLoading %>"
            ></script>
        <% }  else { %>
            <script
                    async
                    crossorigin="<%= webpackConfig.output.crossOriginLoading %>"
                    type="text/javascript"
                    src="<%= htmlWebpackPlugin.files.js[0] %>"
            ></script>
        <% } %>
    <% } %>
    <% for (var index in htmlWebpackPlugin.files.css) { %>
        <% if (htmlWebpackPlugin.files.cssIntegrity) { %>
            <link
                    rel="stylesheet"
                    href="<%= htmlWebpackPlugin.files.css[index] %>"
                    integrity="<%= htmlWebpackPlugin.files.cssIntegrity[index] %>"
                    crossorigin="<%= webpackConfig.output.crossOriginLoading %>"
            />
        <% }  else { %>
            <link
                    rel="stylesheet"
                    href="<%= htmlWebpackPlugin.files.css[index] %>"
                    crossorigin="<%= webpackConfig.output.crossOriginLoading %>"
            />
        <% } %>
    <% } %>
</head>
<body>
<div id="app"><style> html {background-color: #222222;}  .spinner-main {display: flex;align-items: center;transform: translateY(30vh);flex-direction: column;}  .spinner-main:before {content: " ";display: inline-block;border-radius: 50%;width: 0;height: 0;box-sizing: border-box;border: 30px solid #fff;border-color: #fff transparent #fff transparent;animation: spinner-main-rotate 1.2s infinite;}  .spinner-main:after {margin-top: 7.5px;content: "Loading application...";font-family: sans-serif;color: white;font-size: 18px;text-align: center;animation: spinner-main-text 1.2s infinite;}  @keyframes spinner-main-text { 50% {opacity: 0.5;} }  @keyframes spinner-main-rotate { 0% {transform: rotate(0);animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);} 50% {transform: rotate(900deg);animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);} 100% {transform: rotate(1800deg);} }</style><div class="spinner-main"></div></div>
</body>
</html>
